Now these are somewhat custom requirements I guess.

1. Sundays are holidays

2. For 6th and 7th class, there will be 6 subjects only.(physical science and bio science will be just science). 
This science subject will be taught by bio science teachers.

and additionally there will be library and games for them everyday, totalling 8 periods.

3. For 8th, 9th classes, there will be 7 subjects(here science becomes physical science and bio science).
the remaining period, three days will be library and 3 days will be games.

4. For 10th class, there will be no library or games. here 1st and last period will be maths. and remaining 
6 periods covers all other subjects.

5. class teachers will teach the first period they are incharge of.

Now create a generate schedule button and when you generate a schedule, see that there is no overalap.
follow the above rules. create any table or relationship that is necessary.

6 TM
6 EM 